
{
    "openapi": "3.0.0",
    "info": {
        "title": "Musement API",
        "description": "Musement API",
        "termsOfService": "https://www.musement.com/",
        "contact": {
            "email": "support@musement.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "3.4.0"
    },
    "servers": [
        {
            "url": "https://sandbox.musement.com/api/v3",
            "description": "Sandbox server"
        },
        {
            "url": "https://api.musement.com/api/v3",
            "description": "Production server"
        }
    ],
    "paths": {
        "/catalog/updates/{day}": {
            "get": {
                "tags": [
                    "activity"
                ],
                "summary": "Returns an array of uuids of the Activities that where updated on the given day and for the specified X-Musement-Market",
                "operationId": "GetCatalogUpdatesDay",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/components/parameters/X-Musement-Market"
                    },
                    {
                        "$ref": "#/components/parameters/day"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ActivityUpdates"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Returned when the requested day is not valid or is in the future"
                    }
                }
            }
        },
        "/activities": {
            "get": {
                "tags": [
                    "search",
                    "activity"
                ],
                "summary": "Activities",
                "operationId": "GetActivities",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/components/parameters/Accept-Language"
                    },
                    {
                        "$ref": "#/components/parameters/X-Musement-Currency"
                    },
                    {
                        "$ref": "#/components/parameters/text"
                    },
                    {
                        "$ref": "#/components/parameters/text_operator"
                    },
                    {
                        "$ref": "#/components/parameters/extend_other_languages"
                    },
                    {
                        "$ref": "#/components/parameters/extend_content_fields"
                    },
                    {
                        "$ref": "#/components/parameters/fuzziness_level"
                    },
                    {
                        "$ref": "#/components/parameters/zero_terms_query"
                    },
                    {
                        "name": "sort_by",
                        "in": "query",
                        "description": "Set sorting criteria. Add `-` to invert sorting direction. When `distance` is specified also `coordinates` parameter must be set.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "default": "relevance",
                                "enum": [
                                    "relevance",
                                    "-relevance",
                                    "distance",
                                    "-distance",
                                    "price",
                                    "-price",
                                    "rating",
                                    "-rating",
                                    "relevance-venue",
                                    "-relevance-venue",
                                    "relevance-city",
                                    "-relevance-city",
                                    "relevance-category",
                                    "-relevance-category",
                                    "relevance-external",
                                    "-relevance-external"
                                ]
                            }
                        }
                    },
                    {
                        "name": "category_in",
                        "in": "query",
                        "description": "Filter by category | Category code need to be passed",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "$ref": "#/components/parameters/city_in"
                    },
                    {
                        "$ref": "#/components/parameters/coordinates"
                    },
                    {
                        "name": "country_in",
                        "in": "query",
                        "description": "Filter, include only results from given countries identified by a collection of 2 chars country code",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "$ref": "#/components/parameters/default_price_range"
                    },
                    {
                        "$ref": "#/components/parameters/distance"
                    },
                    {
                        "$ref": "#/components/parameters/feature_in"
                    },
                    {
                        "name": "temporary",
                        "in": "query",
                        "description": "Filter, include results on an temporary flag basis. Accepted values: YES or NOT",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/venue_in"
                    },
                    {
                        "name": "vertical_in",
                        "in": "query",
                        "description": "Filter, include only results from given verticals identified by a collection of literal codes",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "$ref": "#/components/parameters/limit"
                    },
                    {
                        "$ref": "#/components/parameters/offset"
                    },
                    {
                        "name": "include_facets",
                        "in": "query",
                        "description": "Specify the attribute names to be included as facets in the response",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "pickup_in",
                        "in": "query",
                        "description": "Filter, include only results from a given list of pickup identifiers",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "available_language_in",
                        "in": "query",
                        "description": "Filter, include only results from a given list of available languages",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "preferred_seller_code",
                        "in": "query",
                        "description": "Specify a preferred seller code that will be boosted in search results",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "available_from",
                        "in": "query",
                        "description": "Specify the availability starting date range [YYYY-MM-DD]",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "available_to",
                        "in": "query",
                        "description": "Specify the availability ending date range [YYYY-MM-DD]",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "service_in",
                        "in": "query",
                        "description": "Filter, include only results from a given list of services",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful, and in case of empty results",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ActivitySearchResult"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Returned when te service is unavailable"
                    }
                },
                "security": [
                    {},
                    {
                        "content_manager": [
                            "activity:admin"
                        ]
                    }
                ]
            },
            "post": {
                "tags": [
                    "activity"
                ],
                "summary": "Create an activity",
                "operationId": "PostActivities",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/components/parameters/Accept-Language"
                    }
                ],
                "requestBody": {
                    "description": "Activity post request",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PostActivity"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Event"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    },
                    "400": {
                        "description": "Returned if sent data contains errors"
                    }
                },
                "security": [
                    {
                        "content_manager": [
                            "activity:admin"
                        ]
                    },
                    {
                        "supplier": [
                            "activity:admin"
                        ]
                    }
                ]
            }
        },
        "/activities-related": {
            "get": {
                "tags": [
                    "search",
                    "activity"
                ],
                "summary": "Activities related search entrypoint",
                "operationId": "GetActivities-related",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/components/parameters/Accept-Language"
                    },
                    {
                        "$ref": "#/components/parameters/X-Musement-Currency"
                    },
                    {
                        "$ref": "#/components/parameters/text"
                    },
                    {
                        "$ref": "#/components/parameters/text_operator"
                    },
                    {
                        "$ref": "#/components/parameters/extend_other_languages"
                    },
                    {
                        "$ref": "#/components/parameters/extend_content_fields"
                    },
                    {
                        "$ref": "#/components/parameters/fuzziness_level"
                    },
                    {
                        "$ref": "#/components/parameters/zero_terms_query"
                    },
                    {
                        "$ref": "#/components/parameters/sort_by"
                    },
                    {
                        "$ref": "#/components/parameters/coordinates"
                    },
                    {
                        "$ref": "#/components/parameters/minimum_events"
                    },
                    {
                        "$ref": "#/components/parameters/city_limit"
                    },
                    {
                        "$ref": "#/components/parameters/city_offset"
                    },
                    {
                        "$ref": "#/components/parameters/list_limit"
                    },
                    {
                        "$ref": "#/components/parameters/list_offset"
                    },
                    {
                        "$ref": "#/components/parameters/venue_limit"
                    },
                    {
                        "$ref": "#/components/parameters/venue_offset"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful, and in case of empty results",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ActivityRelatedResult"
                                    }
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Returned when te service is unavailable"
                    }
                }
            }
        },
        "/activities/{activityUuid}/regions": {
            "get": {
                "tags": [
                    "activity"
                ],
                "summary": "Get regions for the Activity",
                "operationId": "GetActivitiesActivityUuidRegions",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/components/parameters/activityUuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Region"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Returned when resource is not found"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                }
            }
        },
        "/activities/{activityUuid}/pickups": {
            "get": {
                "tags": [
                    "activity",
                    "activity pickup"
                ],
                "summary": "Return all pickups for the activity",
                "operationId": "GetActivitiesActivityUuidPickups",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/components/parameters/activityUuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "$ref": "#/components/schemas/ActivityPickup"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Returned when resource is not found"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                }
            }
        },
        "/activities/{activityUuid}/destinations": {
            "get": {
                "tags": [
                    "activity",
                    "activity destinations"
                ],
                "summary": "Return all destinations for the activity",
                "operationId": "GetActivitiesActivityUuidDestinations",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/components/parameters/activityUuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ActivityDestination"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Returned when resource is not found"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                }
            }
        },
        "/activities/{activityUuid}/destinations/{destinationUuid}": {
            "put": {
                "tags": [
                    "activity",
                    "activity destinations"
                ],
                "summary": "Add the destination to the activity",
                "operationId": "PutActivitiesActivityUuidDestinationsDestinationUuid",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/components/parameters/activityUuid"
                    },
                    {
                        "$ref": "#/components/parameters/destinationUuid"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Returned when successful"
                    },
                    "404": {
                        "description": "Returned when resource is not found"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                },
                "security": [
                    {
                        "content_manager": [
                            "activity:admin"
                        ]
                    },
                    {
                        "supplier": [
                            "activity:admin"
                        ]
                    }
                ]
            },
            "delete": {
                "tags": [
                    "activity",
                    "activity destinations"
                ],
                "summary": "Delete a destination from an activity",
                "operationId": "DeleteActivitiesActivityUuidDestinationsDestinationUuid",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/components/parameters/activityUuid"
                    },
                    {
                        "$ref": "#/components/parameters/destinationUuid"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Returned when successful"
                    },
                    "404": {
                        "description": "Returned when destination or activity is not found"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                },
                "security": [
                    {
                        "content_manager": [
                            "activity:admin"
                        ]
                    },
                    {
                        "supplier": [
                            "activity:admin"
                        ]
                    }
                ]
            }
        },
        "/activities/{activityUuid}/pickups/{activityPickupUuid}": {
            "put": {
                "tags": [
                    "activity",
                    "activity pickup"
                ],
                "summary": "Add the pickup to the activity",
                "operationId": "PutActivitiesActivityUuidPickupsActivityPickupUuid",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/components/parameters/activityUuid"
                    },
                    {
                        "$ref": "#/components/parameters/activityPickupUuid"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Returned when successful"
                    },
                    "403": {
                        "description": "Returned when operation is not permitted"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                },
                "security": [
                    {
                        "content_manager": [
                            "activity:admin"
                        ]
                    },
                    {
                        "supplier": [
                            "activity:admin"
                        ]
                    }
                ]
            },
            "delete": {
                "tags": [
                    "activity",
                    "activity pickup"
                ],
                "summary": "Remove the pickup from the activity",
                "operationId": "DeleteActivitiesActivityUuidPickupsActivityPickupUuid",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/components/parameters/activityUuid"
                    },
                    {
                        "$ref": "#/components/parameters/activityPickupUuid"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Returned when successful"
                    },
                    "403": {
                        "description": "Returned when operation is not permitted"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                },
                "security": [
                    {
                        "content_manager": [
                            "activity:admin"
                        ]
                    },
                    {
                        "supplier": [
                            "activity:admin"
                        ]
                    }
                ]
            }
        },
        "/activities/{activityUuid}/all-pickups": {
            "put": {
                "tags": [
                    "activity",
                    "activity pickup"
                ],
                "summary": "Bulk update of all the pickups available for the activity",
                "operationId": "PutActivitiesActivityUuidAll-pickups",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/components/parameters/activityUuid"
                    }
                ],
                "requestBody": {
                    "description": "Array of activity pickups that need to be set for the specific activity",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/ActivityPickupType"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "Returned when successful"
                    },
                    "403": {
                        "description": "Returned when operation is not permitted"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                },
                "security": [
                    {
                        "content_manager": [
                            "activity:admin"
                        ]
                    },
                    {
                        "supplier": [
                            "activity:admin"
                        ]
                    }
                ]
            }
        },
        "/activities/{activityUuid}/participants-info-requirements": {
            "get": {
                "tags": [
                    "activity-participants-info"
                ],
                "summary": "Return activity's participants information configuration",
                "operationId": "GetActivitiesActivityUuidParticipants-info-requirements",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/components/parameters/activityUuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/participantInfoRequirements"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Returned when the activity is not found or when the activity does not require any participant info"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                },
                "security": [
                    {
                        "content_manager": [
                            "activity:admin"
                        ]
                    },
                    {
                        "supplier": [
                            "activity:admin"
                        ]
                    }
                ]
            },
            "put": {
                "tags": [
                    "activity-participants-info"
                ],
                "summary": "Return activity's participants information configuration",
                "operationId": "PutActivitiesActivityUuidParticipants-info-requirements",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/components/parameters/activityUuid"
                    }
                ],
                "requestBody": {
                    "description": "Passenger info data",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/participantInfoRequirements"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/participantInfoRequirements"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Returned when the activity is not found"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                },
                "security": [
                    {
                        "content_manager": [
                            "activity:admin"
                        ]
                    },
                    {
                        "supplier": [
                            "activity:admin"
                        ]
                    }
                ]
            }
        },
        "/activities/{activityUuid}/participants-info/schema": {
            "get": {
                "tags": [
                    "activity-participants-info"
                ],
                "summary": "Return activity's participants information",
                "operationId": "GetActivitiesActivityUuidParticipants-infoSchema",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/components/parameters/activityUuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "$ref": "#/components/schemas/participantInfoSchema"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Returned when the activity is not found or when the activity does not require any participant info"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                }
            }
        },
        "/activities/{activityUuid}/extra-customer-data/schema": {
            "get": {
                "tags": [
                    "extra-customer-data",
                    "activity"
                ],
                "summary": "Return activity's extra customer data information.",
                "operationId": "GetActivitiesActivityUuidExtra-customer-dataSchema",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/components/parameters/activityUuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/extraCustomerDataSchema"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Returned when the activity is not found or when the activity does not require any extra customer data"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                }
            }
        },
        "/activities/{activityUuid}/extra-customer-data": {
            "post": {
                "tags": [
                    "extra-customer-data",
                    "activity"
                ],
                "summary": "Add one or more extra customer data to an existing activity.",
                "operationId": "PostActivitiesActivityUuidExtra-customer-data",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/components/parameters/activityUuid"
                    }
                ],
                "requestBody": {
                    "description": "Array of extra customer data to add to the activity",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/PostExtraCustomerData"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Returned when successful"
                    },
                    "400": {
                        "description": "Returned when the extra customer data payload is incorrect"
                    },
                    "404": {
                        "description": "Returned when the activity is not found or when the extra customer data are incorrect"
                    },
                    "403": {
                        "description": "Returned when operation is not permitted"
                    },
                    "409": {
                        "description": "Returned when extra customer data are already associated to the activity"
                    }
                }
            }
        },
        "/activities/{activityUuid}/duration-range": {
            "put": {
                "tags": [
                    "activity"
                ],
                "summary": "Set a duration range for the activity",
                "operationId": "PutActivitiesActivityUuidDuration-range",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/components/parameters/activityUuid"
                    }
                ],
                "requestBody": {
                    "description": "Activity duration range",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ActivityDurationRange"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "$ref": "#/components/schemas/Event"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Returned when resource is not found"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                },
                "security": [
                    {
                        "content_manager": [
                            "activity:admin"
                        ]
                    },
                    {
                        "supplier": [
                            "activity:admin"
                        ]
                    }
                ]
            },
            "delete": {
                "tags": [
                    "activity"
                ],
                "summary": "Delete the duration range for the activity",
                "operationId": "DeleteActivitiesActivityUuidDuration-range",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/components/parameters/activityUuid"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Returned when the duration range is removed"
                    },
                    "403": {
                        "description": "Returned when operation is not permitted"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                },
                "security": [
                    {
                        "content_manager": [
                            "activity:admin"
                        ]
                    },
                    {
                        "supplier": [
                            "activity:admin"
                        ]
                    }
                ]
            }
        },
        "/activities/{activityUuid}/financial-info": {
            "get": {
                "tags": [
                    "activity"
                ],
                "summary": "Return activity's financial information.",
                "operationId": "GetActivitiesActivityUuidFinancial-info",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/components/parameters/activityUuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ActivityFinancialInfo"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Returned when the activity is not found"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                },
                "security": [
                    {
                        "content_manager": [
                            "activity:admin"
                        ]
                    },
                    {
                        "supplier": [
                            "activity:admin"
                        ]
                    }
                ]
            },
            "patch": {
                "tags": [
                    "activity"
                ],
                "summary": "Return activity's financial information.",
                "operationId": "PatchActivitiesActivityUuidFinancial-info",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/components/parameters/activityUuid"
                    }
                ],
                "requestBody": {
                    "description": "Activity financial info request data specfic fields",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ActivityFinancialInfoType"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ActivityFinancialInfo"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Returned when the activity is not found"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                },
                "security": [
                    {
                        "content_manager": [
                            "activity:admin"
                        ]
                    },
                    {
                        "supplier": [
                            "activity:admin"
                        ]
                    }
                ]
            }
        },
        "/activities/{activityUuid}/markets": {
            "get": {
                "tags": [
                    "activity",
                    "market"
                ],
                "summary": "Return activity markets.",
                "operationId": "GetActivitiesActivityUuidMarkets",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/components/parameters/activityUuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Market"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Returned when the activity is not found"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                },
                "security": [
                    {
                        "content_manager": [
                            "activity:admin"
                        ]
                    },
                    {
                        "supplier": [
                            "activity:admin"
                        ]
                    }
                ]
            },
            "patch": {
                "tags": [
                    "activity",
                    "markets"
                ],
                "summary": "Update activity Markets.",
                "operationId": "PatchActivitiesActivityUuidMarkets",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/components/parameters/activityUuid"
                    }
                ],
                "requestBody": {
                    "description": "List of the markets to be set for the activity. The system will set the market present in the request and remove the other one",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ActivityMarketsPatch"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Market"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Returned when the activity is not found"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                },
                "security": [
                    {
                        "content_manager": [
                            "activity:admin"
                        ]
                    },
                    {
                        "supplier": [
                            "activity:admin"
                        ]
                    }
                ]
            }
        },
        "/activities/{activityUuid}/relevance": {
            "get": {
                "tags": [
                    "activity",
                    "relevance"
                ],
                "summary": "Return default relevances for an activity",
                "operationId": "GetActivitiesActivityUuidRelevance",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/components/parameters/activityUuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ActivityRelevance"
                                    }
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                },
                "security": [
                    {
                        "content_manager": [
                            "activity:admin"
                        ]
                    },
                    {
                        "supplier": [
                            "activity:admin"
                        ]
                    }
                ]
            },
            "put": {
                "tags": [
                    "activity",
                    "relevance"
                ],
                "summary": "Update activity default relevances.",
                "operationId": "PutActivitiesActivityUuidRelevance",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/components/parameters/activityUuid"
                    }
                ],
                "requestBody": {
                    "description": "Activity default relevances",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ActivityRelevanceType"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "Returned when successful"
                    },
                    "404": {
                        "description": "Returned when the activity is not found"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                },
                "security": [
                    {
                        "content_manager": [
                            "activity:admin"
                        ]
                    },
                    {
                        "supplier": [
                            "activity:admin"
                        ]
                    }
                ]
            }
        },
        "/activities/{activityUuid}/merchant-tags": {
            "get": {
                "tags": [
                    "activity",
                    "merchantTag"
                ],
                "summary": "Return activity merchantTags.",
                "operationId": "GetActivitiesActivityUuidMerchant-tags",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/components/parameters/activityUuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Returned when the activity is not found"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                }
            },
            "patch": {
                "tags": [
                    "activity",
                    "merchantTags"
                ],
                "summary": "Update activity merchant tags.",
                "operationId": "PatchActivitiesActivityUuidMerchant-tags",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/components/parameters/activityUuid"
                    }
                ],
                "requestBody": {
                    "description": "Activity merchant tag patch payload",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ActivityMerchantTag"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "Returned when successful"
                    },
                    "404": {
                        "description": "Returned when the activity is not found"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                },
                "security": [
                    {
                        "content_manager": [
                            "activity:admin"
                        ]
                    },
                    {
                        "supplier": [
                            "activity:admin"
                        ]
                    }
                ]
            }
        },
        "/activities/{activityUuid}/validity": {
            "put": {
                "tags": [
                    "activity"
                ],
                "summary": "Set a validity period for the activity",
                "operationId": "PutActivitiesActivityUuidValidity",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/components/parameters/activityUuid"
                    }
                ],
                "requestBody": {
                    "description": "Activity validity period",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ActivityValidity"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "$ref": "#/components/schemas/Event"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Returned when the validiy period is incorrect"
                    },
                    "404": {
                        "description": "Returned when resource is not found"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                },
                "security": [
                    {
                        "content_manager": [
                            "activity:admin"
                        ]
                    },
                    {
                        "supplier": [
                            "activity:admin"
                        ]
                    }
                ]
            }
        },
        "/activities/{activityUuid}/metadata/languages": {
            "get": {
                "tags": [
                    "activity",
                    "languages"
                ],
                "summary": "Return tour languages",
                "operationId": "GetActivitiesActivityUuidMetadataLanguages",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/components/parameters/activityUuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/TranslatedMetadata"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Returned when the activity is not found"
                    },
                    "204": {
                        "description": "No languages set for the activity"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                }
            },
            "put": {
                "tags": [
                    "activity",
                    "metadata",
                    "language"
                ],
                "summary": "Set languages for an activity",
                "operationId": "PutActivitiesActivityUuidMetadataLanguages",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/components/parameters/activityUuid"
                    }
                ],
                "requestBody": {
                    "description": "Activity metadata language",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ActivityLanguageMetadata"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/TranslatedMetadata"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Returned when the activity is not found"
                    },
                    "503": {
                        "description": "Service unavailable"
                    }
                }
            }
        },
        "/activities/{activityUuid}/child-activities": {
            "get": {
                "tags": [
                    "activity"
                ],
                "summary": "Get child activities by unique identifier",
                "operationId": "GetActivitiesActivityUuidChild-activities",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/components/parameters/Accept-Language"
                    },
                    {
                        "$ref": "#/components/parameters/X-Musement-Currency"
                    },
                    {
                        "$ref": "#/components/parameters/activityUuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Event"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Returned when resource is not found"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                }
            }
        },
        "/activities/{activityUuid}/flavours": {
            "get": {
                "tags": [
                    "activity"
                ],
                "summary": "Get flavours setted for an activitiy",
                "operationId": "GetActivitiesActivityUuidFlavours",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/components/parameters/activityUuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Flavour"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Returned when resource is not found"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                }
            },
            "patch": {
                "tags": [
                    "activity"
                ],
                "summary": "Set flavours setted for an activitiy",
                "operationId": "PatchActivitiesActivityUuidFlavours",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/components/parameters/activityUuid"
                    }
                ],
                "requestBody": {
                    "description": "Activity merchant tag patch payload",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ActivityFlavoursType"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "Returned when successful"
                    },
                    "404": {
                        "description": "Returned when resource is not found"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                }
            }
        },
        "/activities/{activityUuid}/dates": {
            "get": {
                "tags": [
                    "date"
                ],
                "summary": "Get available dates for an event",
                "operationId": "GetActivitiesActivityUuidDates",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/components/parameters/Accept-Language"
                    },
                    {
                        "$ref": "#/components/parameters/X-Musement-Currency"
                    },
                    {
                        "$ref": "#/components/parameters/activityUuid"
                    },
                    {
                        "name": "date_from",
                        "in": "query",
                        "description": "Start date | If not specified set to today | Use format: YYYY-MM-DD",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "date_to",
                        "in": "query",
                        "description": "To date | If not specified set to next year | Use format: YYYY-MM-DD",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "pickup",
                        "in": "query",
                        "description": "Mandatory for activities that requires a pickup. See: https://api-docs.musement.com/docs/searching-for-activities-that-requires-a-pick-up for details",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Date"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Returned when querying without pickup parameter activities which requires a pickup. See https://api-docs.musement.com/docs/searching-for-activities-that-requires-a-pick-up for details"
                    },
                    "404": {
                        "description": "Returned when resource is not found"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                }
            }
        },
        "/activities/{activityUuid}/dates/{day}": {
            "get": {
                "tags": [
                    "date"
                ],
                "summary": "Get schedule for a day for an event",
                "operationId": "GetActivitiesActivityUuidDatesDay",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/components/parameters/Accept-Language"
                    },
                    {
                        "$ref": "#/components/parameters/X-Musement-Currency"
                    },
                    {
                        "$ref": "#/components/parameters/activityUuid"
                    },
                    {
                        "$ref": "#/components/parameters/day"
                    },
                    {
                        "name": "tickets_number",
                        "in": "query",
                        "description": "Number of ticket requested tickets | Only useful for real time activities",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pickup",
                        "in": "query",
                        "description": "Mandatory for activities that requires a pickup. See: https://api-docs.musement.com/docs/searching-for-activities-that-requires-a-pick-up for details",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Schedule"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Returned when querying without pickup parameter activities which requires a pickup or the pickup provided is not valid. See https://api-docs.musement.com/docs/searching-for-activities-that-requires-a-pick-up for details"
                    },
                    "403": {
                        "description": "Returned when dates for not active activity are requested."
                    },
                    "404": {
                        "description": "Returned when resource is not found"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                }
            }
        },
        "/events/{eventId}/schedule/{day}/{giftCode}": {
            "get": {
                "tags": [
                    "gift"
                ],
                "summary": "Get schedule for Gift and specific day",
                "operationId": "GetEventsEventIdScheduleDayGiftCode",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/components/parameters/Accept-Language"
                    },
                    {
                        "$ref": "#/components/parameters/X-Musement-Currency"
                    },
                    {
                        "$ref": "#/components/parameters/eventId"
                    },
                    {
                        "$ref": "#/components/parameters/day"
                    },
                    {
                        "$ref": "#/components/parameters/giftCode"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Schedule"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Returned when resource is not found"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                }
            }
        },
        "/events/{eventId}/gift-schedule": {
            "get": {
                "tags": [
                    "date",
                    "gift"
                ],
                "summary": "Get schedule for a 'Gift creation' for an Event",
                "operationId": "GetEventsEventIdGift-schedule",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/components/parameters/Accept-Language"
                    },
                    {
                        "$ref": "#/components/parameters/X-Musement-Currency"
                    },
                    {
                        "$ref": "#/components/parameters/eventId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GiftSchedule"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Returned when Event is not found or is not giftable"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                }
            }
        },
        "/activity-finances": {
            "get": {
                "tags": [
                    "activity",
                    "activity-finances"
                ],
                "summary": "Return all activity finances",
                "operationId": "GetActivity-finances",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/X-Musement-Version"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ActivityFinance"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Returned when resource is not found"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                },
                "security": [
                    {
                        "content_manager": [
                            "activity:admin"
                        ]
                    },
                    {
                        "supplier": [
                            "activity:admin"
                        ]
                    }
                ]
            }
        },
        "/activities-parent": {
            "get": {
                "tags": [
                    "activities",
                    "event",
                    "parent"
                ],
                "summary": "Return parent activities list",
                "operationId": "GetActivities-parent",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/components/parameters/offset"
                    },
                    {
                        "$ref": "#/components/parameters/limit"
                    },
                    {
                        "name": "id_in",
                        "in": "query",
                        "description": "Filter parent activities by ids",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "integer"
                            }
                        }
                    },
                    {
                        "name": "uuid_in",
                        "in": "query",
                        "description": "Filter parent activities by uuids",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Filter, include only results with given activity status",
                        "required": false,
                        "schema": {
                            "items": {
                                "type": "string",
                                "enum": [
                                    "DRAFT",
                                    "REVIEW",
                                    "ONLINE",
                                    "UNAVAILABLE",
                                    "ARCHIVED",
                                    "INACTIVE"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned parent activities",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ActivityParentList"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Returned when the client is unauthorized"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                },
                "security": [
                    {
                        "content_manager": [
                            "activity:admin"
                        ]
                    },
                    {
                        "supplier": [
                            "activity:admin"
                        ]
                    }
                ]
            }
        },
        "/pickups": {
            "get": {
                "tags": [
                    "pickups"
                ],
                "summary": "Return all the pickups",
                "operationId": "GetPickups",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/components/parameters/Accept-Language"
                    },
                    {
                        "name": "text",
                        "in": "query",
                        "description": "Text which will be used to search the Pickup by name or tag (min 3 chars are required)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "type_in",
                        "in": "query",
                        "description": "ActivityPickup type (right now only HOTEL or PICKUP are accepted)",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "sort_by",
                        "in": "query",
                        "description": "One or more field that can be passed to sort the results (now only `type` is supported)",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Pagination offset",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 0
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Pagination limit for the activity pickups | Max 50 elements",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 50,
                            "maximum": 50
                        }
                    },
                    {
                        "name": "source",
                        "in": "query",
                        "description": "The source of the tags upon which the parameters 'text' has to be applied",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "GIATA-CODE",
                                "CONTENT-MANAGER-DATA",
                                "SUPPLIER"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ActivityPickup"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Returned when resource is not found"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                }
            },
            "post": {
                "tags": [
                    "pickup"
                ],
                "summary": "Create a pickup point",
                "operationId": "PostPickups",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/X-Musement-Version"
                    }
                ],
                "requestBody": {
                    "description": "Pickup point information",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ActivityPickupType"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ActivityPickupType"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Returned when resource is not found"
                    },
                    "503": {
                        "description": "Service unavailable"
                    }
                },
                "security": [
                    {
                        "content_manager": [
                            "activity:admin"
                        ]
                    },
                    {
                        "supplier": [
                            "activity:admin"
                        ]
                    }
                ]
            }
        },
        "/pickups/{activityPickupUuid}": {
            "get": {
                "tags": [
                    "pickups"
                ],
                "summary": "Get informations about an activity pickup point",
                "operationId": "GetPickupsActivityPickupUuid",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/components/parameters/activityPickupUuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "$ref": "#/components/schemas/ActivityPickup"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Returned when resource is not found"
                    },
                    "403": {
                        "description": "Returned when you cannot access the resource"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                }
            },
            "delete": {
                "tags": [
                    "pickup"
                ],
                "summary": "Delete the pickup",
                "operationId": "DeletePickupsActivityPickupUuid",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/components/parameters/activityPickupUuid"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Returned when the pickup is deleted"
                    },
                    "403": {
                        "description": "Returned when operation is not permitted"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                },
                "security": [
                    {
                        "content_manager": [
                            "activity:admin"
                        ]
                    },
                    {
                        "supplier": [
                            "activity:admin"
                        ]
                    }
                ]
            },
            "patch": {
                "tags": [
                    "pickup"
                ],
                "summary": "Update a pickup point",
                "operationId": "PatchPickupsActivityPickupUuid",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/components/parameters/activityPickupUuid"
                    }
                ],
                "requestBody": {
                    "description": "Pickup point information",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ActivityPickupType"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ActivityPickupType"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "content_manager": [
                            "activity:admin"
                        ]
                    },
                    {
                        "supplier": [
                            "activity:admin"
                        ]
                    }
                ]
            }
        },
        "/activities/{activityUuid}/refund-policies": {
            "get": {
                "tags": [
                    "refund-policies"
                ],
                "summary": "Return all of the activity refund policies",
                "operationId": "GetActivitiesActivityUuidRefund-policies",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/components/parameters/activityUuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful, and in case of empty results",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "$ref": "#/components/schemas/ActivityRefundPolicy"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Returned when resource is not found"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                }
            },
            "post": {
                "tags": [
                    "refund-policies"
                ],
                "summary": "Create a refund policy for the activity",
                "operationId": "PostActivitiesActivityUuidRefund-policies",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/components/parameters/activityUuid"
                    }
                ],
                "requestBody": {
                    "description": "Refund policy information",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PostActivityRefundPolicy"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Returned when successful"
                    },
                    "400": {
                        "description": "Request body contain errors"
                    },
                    "404": {
                        "description": "Returned when the the master activity has not been found"
                    }
                }
            }
        },
        "/activities/{activityUuid}/refund-policies/{activityRefundPolicyUuid}": {
            "put": {
                "tags": [
                    "refund-policies"
                ],
                "summary": "Update a refund policy for the activity",
                "operationId": "PutActivitiesActivityUuidRefund-policiesActivityRefundPolicyUuid",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/components/parameters/activityUuid"
                    },
                    {
                        "$ref": "#/components/parameters/activityRefundPolicyUuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful"
                    },
                    "400": {
                        "description": "Request body contain errors"
                    },
                    "404": {
                        "description": "Returned when the the master activity or the refund policy has not been found"
                    }
                }
            },
            "delete": {
                "tags": [
                    "refund-policies"
                ],
                "summary": "Delete a refund policy for the activity",
                "operationId": "DeleteActivitiesActivityUuidRefund-policiesActivityRefundPolicyUuid",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/components/parameters/activityUuid"
                    },
                    {
                        "$ref": "#/components/parameters/activityRefundPolicyUuid"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Returned when successful"
                    },
                    "400": {
                        "description": "Request body contain errors"
                    },
                    "404": {
                        "description": "Returned when the the master activity or the refund policy has not been found"
                    }
                }
            }
        },
        "/activity-taxonomies/{activityTaxonomyType}": {
            "get": {
                "tags": [
                    "activity"
                ],
                "summary": "Get all taxonomies for the required type",
                "operationId": "GetActivity-taxonomiesActivityTaxonomyType",
                "parameters": [
                    {
[...]
